---
import timeline from "../data/timeline.json";

type Item = {
  id: string;
  type: string;
  url?: string | null;
};

const items = (timeline as Item[]).filter(i => i && typeof i === 'object');

export function getStaticPaths() {
  const blogItems = (timeline as Item[]).filter(i => i && typeof i === 'object' && i.type === 'blog' && i.url);
  return blogItems.map((i) => {
    const path = (i.url as string).replace(/^\/+|\/+$/g, '');
    return { params: { segments: path }, props: { id: i.id } };
  });
}

const { id } = Astro.props as { id: string };
const target = `/?id=${encodeURIComponent(id)}`;
export const prerender = true;
---
<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
  </head>
  <body>
    <p>Redirecting… <a href={target}>Open timeline</a></p>
  </body>
</html>

